In [3]:
from pyspark.sql import SparkSession
# Create SparkSession 
spark = SparkSession.builder \
.master("local[1]") \
.appName("SparkByExamples.com") \
.getOrCreate()

In [7]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema=columns)

In [8]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [9]:
df2 = spark.read.csv("003rdd_textFile_input.txt")
df2.printSchema()
df2.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

+------+-------+
|   _c0|    _c1|
+------+-------+
|  Java|  20000|
|Python| 100000|
| Scala|   3000|
+------+-------+

In [11]:
from io import StringIO

In [27]:
schema = ["name", "number"]
df3 = spark.createDataFrame(data=[("charlie", 1)], schema=schema)